#contProductos{
    display: flex;
    flex-direction: row;
    align-items: center;
    .titleProd {
        font-size: 40px;
    }
    .valueProd {
        font-size: 30px;
    }
    .buttonProd {
        background-color: #4D7766;
        color: whitesmoke;
        padding: 5px 7px;
        border-radius: 10px;
        font-size: 20px;
    }
}